$bg-gray: #F6F6F6;

.cont-info {
    background-color: $bg-gray;
    display: flex;
    justify-content: space-around;
    padding: 2rem 1rem 2rem 1rem;
    div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    li {
    font-weight: 300;
    }
    h1 {
    font-size: 1.5rem;
    }
    }
}
.cont-end {
    background-color: #141414;
    text-align: center;
    padding: 1rem;
    color: #fff;
}
@media (max-width: 768px) {
    .cont-info {
        flex-direction: column;
    }
  }